<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @zgloszenium.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @zgloszenium.nazwisko %>
</p>

<p>
  <strong>Miasto:</strong>
  <%= @zgloszenium.miasto %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @zgloszenium.adres %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @zgloszenium.telefon %>
</p>

<p>
  <strong>Email:</strong>
  <%= @zgloszenium.email %>
</p>

<p>
  <strong>Data urodzenia:</strong>
  <%= @zgloszenium.data_urodzenia %>
</p>

<p>
  <strong>Wiadomosc:</strong>
  <%= @zgloszenium.wiadomosc %>
</p>

<p>
  <strong>Zaliczka:</strong>
  <%= @zgloszenium.zaliczka %>
</p>

<p>
  <strong>Oplacony:</strong>
  <%= @zgloszenium.oplacony %>
</p>

<p>
  <strong>Kurs:</strong>
  <%= @zgloszenium.kurs %>
</p>

<%= link_to 'Edit', edit_zgloszenium_path(@zgloszenium) %> |
<%= link_to 'Back', zgloszenia_path %>
